@font-face {
  font-family: "favorit";
  src: url("./font/Favorit-n.woff") format("woff"),
    url("./font/Favorit-n.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
  font-feature-settings: "ss05" 1;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "favorit";
  list-style: none;
}
*::-webkit-scrollbar {
  display: none;
}
body {
  scroll-behavior: smooth;
}
.main img,
.main video {
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
  height: calc(100vh - 2.12vw);
}
.main {
  height: calc(100vh - 4.24vw);
  position: relative;
  width: 100vw;
  top: 2.12vw;
  left: 0;
  z-index: 20;
  /* margin-bottom: 2.12vw; */
}
.scroll-down {
  position: absolute;
  font-size: 0.81vw;
  bottom: -1.21vw;
  left: 0;
  right: 0;
  margin: auto;
  color: #b4b4b4;
  width: fit-content;
  mix-blend-mode: difference;
  cursor: default;
}
/*  */
.main__hidden {
  opacity: 0;
}
.bounce-cursor {
  width: 0.85vw;
  height: 0.85vw;
  border-radius: 50%;
  animation: bounce 1s infinite;
  background: white;
  mix-blend-mode: difference;
}

.item-text-item-subtitle-link-none {
  display: none;
}
.container-slider__title-top span {
  text-decoration: underline;
  margin-left: 0.34vw;
}
.slider-counter {
  position: absolute;
  bottom: 0.91vw;
  right: 0;
  left: 0;
  margin: auto;
  color: #ffffff;
  font-size: 0.81vw;
  mix-blend-mode: difference;
  width: fit-content;
}
/*  */
.main-frame-mob {
  display: none;
}
.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - 2.12vw);
  top: 2.12vw;
  overflow: hidden;
  z-index: -1; /* Помещает видео на задний план */
}
.container-slider__item .video-container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - 2.12vw);
  overflow: hidden;
  z-index: 1; /* Помещает видео на задний план */
}

.video-container iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 177.78vh; /* 100vh * (16/9) для соотношения сторон 16:9 */
  height: 100vh;
  transform: translate(-50%, -50%);
  pointer-events: none; /* Отключает взаимодействие с iframe */
}
.container-slider__item-text-wrap-links {
  position: absolute;
  left: caLc(50% + 1.1vw);
  top: 1.04vw;
  display: flex;
  align-items: center;
  gap: 0 0.72vw;
}
.container-slider__item-text-wrap-link {
  font-size: 0.81vw;
  line-height: 0.98vw;
  color: #b4b4b4;
  transition: 240ms;
  width: fit-content;
  text-decoration: none;
}
.container-slider__item-text-wrap-link:hover {
  color: black;
}
@media (max-width: 1300px) {
  .main-frame-mob {
    display: block;
  }
  .container-slider__item-text-wrap-links {
    display: none;
  }
  .main-frame-pc {
    display: none;
  }
  .main-content .video-container {
    position: fixed;
    width: 100%;
    height: 0;
    padding-top: 100%;
    top: 10.75vw;
  }
  .main-content .main-frame-mob {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: initial;
  }
  .container-slider__item .video-container {
    position: relative;
    width: 100%; /* Занимает всю ширину */
    padding-top: 0; /* Соотношение сторон 1:1 */
    overflow: hidden;
    height: 100%;
    display: flex;
    align-items: end;
  }
  .container-slider__item .video-container iframe {
    position: relative;
    top: initial;
    left: initial;
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    pointer-events: none; /* Отключает взаимодействие с iframe */
    transform: initial;
    width: 100%; /* Занимает всю ширину контейнера */
    height: auto; /* Автоматически подстраивается под высоту видео */
    aspect-ratio: 16/9; /* Соотношение сторон видео (замените на нужное, если оно другое) */
    /* margin-bottom: -1px; */
  }
  .slider-counter {
    position: absolute;
    bottom: 1.21vw;
    right: 0;
    left: 0;
    margin: auto;
    color: #ffffff;
    font-size: 2.17vw;
    mix-blend-mode: difference;
    width: fit-content;
  }
  .slick-arrow svg {
    width: 3.86vw !important;
    height: 1.93vw !important;
  }
  .container-slider .slick-arrow {
    bottom: 1.93vw !important;
    height: 1.93vw !important;
  }
  .container-slider .prev-slider {
    padding-left: 2.17vw !important;
  }
  .container-slider .next-slider {
    padding-right: 2.17vw !important;
  }
  .container-slider__title-top {
    display: flex;
    align-items: center;
  }
  .container-slider .next-slider,
  .container-slider .prev-slider {
    display: flex !important;
  }
  .scroll-down {
    font-size: 3.5vw;
    bottom: 3.26vw;
  }
}

.slider-container-wrap {
  margin-top: 0 !important;
  /* transform: translateY(2.12vw); */
  position: relative;
  z-index: 30;
  position: absolute;
  max-width: 100%;
}
.container-slider__items {
  max-width: 100%;
}
.container-m-t {
  margin-top: 2.12vw;
}
#slider-5 .container-slider__title,
#slider-5 a {
  color: white;
}

.main__title {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  margin: auto;
  width: fit-content;
  height: fit-content;
  font-size: 2.47vw;
  line-height: 120%;
  color: white;
  text-transform: uppercase;
  mix-blend-mode: difference;
  text-align: center;
  cursor: default;
}

.container-slider {
  height: calc(100vh - 65px);
  width: 100%;
  overflow: hidden;
  position: relative;
  transition: opacity 1s ease, transform 1s ease;
}

.container-slider.hidden {
  opacity: 0;
  transform: translateY(-10px); /* Небольшой сдвиг вверх */
}
.container-slider__item img {
  width: 100%;
  height: calc(100vh - 65px);
  object-fit: cover;
  pointer-events: none;
}
.container-slider__item video {
  width: 100%;
  height: calc(100vh - 65px);
  object-fit: cover;
  pointer-events: none;
}
.container-slider__title {
  position: absolute;
  left: 40px;
  top: 32px;
  z-index: 2;
  font-size: 25px;
  line-height: 120%;
  mix-blend-mode: difference;
}
.container-slider__title {
  color: #f1f1f1;
  z-index: 12;
  cursor: none;
}
.container-slider__title a {
  color: #f1f1f1;
}

.container-slider__title svg {
  mix-blend-mode: difference;
}
.container-slider .next-slider {
  position: absolute;
  right: 0;
  padding-right: 1.3vw;
  bottom: 1.14vw;
  mix-blend-mode: difference;
  cursor: pointer;
}
.slick-arrow svg {
  width: 1.46vw;
  height: 0.75vw;
}
.container-slider .prev-slider {
  position: absolute;
  left: 0;
  padding-left: 1.3vw;
  bottom: 1.14vw;
  mix-blend-mode: difference;
  z-index: 10;
  cursor: pointer;
}
.slick-arrow.slick-disabled {
  display: none !important;
}

/* .slider-container {
    height: calc(100vh - 65px);
  } */
.header {
  padding: 0.59vw 2.08vw 0.59vw 0.96vw;
  background: #ffffff;
  height: 2.12vw;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 35;
  display: grid;
  grid-template-columns: 3fr 3fr;
  cursor: none;
}
.header nav ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.02vw;
  align-items: center;
}

.header nav ul div {
  display: flex;
  gap: 9.02vw;
}
.language-btns {
  display: flex;
  justify-content: end;
  gap: 9px;
  position: absolute;
  right: 22px;
  top: 18px;
}

.header__link,
.logo {
  font-size: 0.81vw;
  line-height: 0.98vw;
  color: #000000;
  text-decoration: none;
  cursor: none;
  display: flex;
  align-items: center;
  transition: 240ms;
  width: fit-content;
}
.logo {
  text-transform: uppercase;
}
a.header__link.header__link_project {
  margin-left: 1.6vw;
}
span.header__link.header__link_project {
  margin-left: 1.6vw;
}
.header__li_about {
  flex: 0 0 59%;
  display: flex;
  justify-content: end;
}
.header__li_call {
  width: 100%;
  display: flex;
  justify-content: end;
}
.language-btn {
  font-size: 0.81vw;
  line-height: 0.98vw;
  color: #b4b4b4;
  text-decoration: none;
  transition: 440ms;
  opacity: 0;
  pointer-events: none;
  cursor: none;
}
.language-btn.active {
  color: #000000;
  pointer-events: initial;
  opacity: 1;
}
.language-btns:hover .language-btn {
  opacity: 1;
  pointer-events: initial;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0 6rem;
  margin-left: 30%;
  height: 100vh;
}

.about-block {
  position: fixed;
  width: 100%;
  height: calc(100vh - 65px);
  left: -140%;
  top: 0;
  z-index: 40;
  background: white;
  display: grid;
  grid-template-columns: 1fr 2fr 3fr;
  margin-top: 65px;
  padding: 0 64px 0 24px;
  transition: 500ms;
}
.about-block.active {
  left: 0;
}
.header__link:hover {
  color: #b4b4b4;
}
.header.active nav a,
.header.active .header__link_project {
  color: #b4b4b4;
}
.language-btn:hover {
  color: black;
}
.about-block__img {
  padding: 31px 31px 10px 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.about-block__text-item {
  font-size: 18px;
  line-height: 120%;
}
.about-block__text-item a {
  color: black;
}
.about-block-link-hvr span:hover {
  color: black;
}
.header.active .header__link.header__link_project:hover,
.header.active .header__link.header__link_call:hover {
  color: black;
}
.about-block-link-hvr {
  text-decoration: none;
  cursor: pointer;
}
.about-block-link-nontt {
  text-decoration: none;
}
.about-block-link-hvr a {
  color: #b4b4b4;
  width: 0%;
  text-decoration: none;
}
.about-block-link-hvr a:hover {
  color: black;
}
.about-block-link-hvr br {
  display: none;
}

.about-block-tabe__line {
  display: flex;
  gap: 0.52vw;
}
.about-block-tabe {
  display: flex;
  flex-direction: column;
  gap: 0.07vw;
}
.about-block-tabe__line-title {
  flex: 0 0 8.61vw;
}
.about-block-tabe__line-items {
  display: flex;
  flex-direction: column;
  gap: 0.07vw;
}
a.about-block__blue-link {
  color: #0047ff;
  text-decoration: none;
}
.about-block__img img {
  width: 100%;
}
.about-block__text-hidden a {
  text-decoration: none;
  color: black;
}
.about-block__img::after {
  content: "";
  width: 1px;
  height: calc(100vh - 96px);
  background: black;
  position: absolute;
  right: 0;
  top: 15px;
}
.container-slider__item img:last-child,
.container-slider__item video:last-child {
  display: none;
}
.about-block__text-wrap {
  padding: 15px 31px 10px 31px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.about-block__text-wrap-dx2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 62px;
  padding: 15px 31px 10px 31px;
}
.about-block__text-wrap-dx2 .about-block__text-wrap {
  padding: 0;
}
.about-block__text-wrap_line::after {
  content: "";
  width: 1px;
  height: calc(100vh - 96px);
  background: black;
  position: absolute;
  right: 0;
  top: 15px;
}
.burger {
  position: relative;
  width: 100%;
  max-width: 10.39vw;
  height: 1.69vw;
  display: none;
  cursor: pointer;
}
.burger::before {
  content: "";
  width: 100%;
  height: 1px;
  background: black;
  position: absolute;
  top: 0;
  left: 0;
}
.burger::after {
  content: "";
  width: 100%;
  height: 1px;
  background: black;
  position: absolute;
  bottom: 0;
  left: 0;
}
.psevdo-nav {
  display: none;
}
.about-block__text-hidden {
  display: none;
}
.container-slider__item-text-wrap {
  height: calc(100vh - 65px);
  background: white;
  padding: 0 0.88vw;
  display: flex;
  justify-content: end;
  position: relative;
}
.container-slider__item-text-wrap a {
  cursor: none;
  text-decoration: none;
}
.container-slider__item-text {
  flex: 0 0 24.553%;
  display: flex;
  flex-direction: column;
  font-size: 25px;
  line-height: 30px;
  gap: 25px;
  overflow-y: auto;
  padding: 32px 0 27px;
}
.container-slider__item-text::before {
  content: "";
  width: 24.8%;
  height: 0px;
  box-shadow: 0px 0px 22px 26px white;
  position: absolute;
  top: 0px;
}
.container-slider__item-text::after {
  content: "";
  width: 24.8%;
  height: 0px;
  box-shadow: 0px 0px 22px 26px white;
  position: absolute;
  bottom: 0px;
}
.container-slider__item-text-mobile-wrap {
  display: contents;
}
.container-slider__item-text-item-title {
  color: #b4b4b4 !important;
}
.item-text-item-subtitle-link {
  color: black !important;
  transition: 240ms;
}
.item-text-item-subtitle-link_nontt {
  color: black !important;
  text-decoration: none;
  position: relative;
}
.container-slider__item-text-item-subtitle {
  display: flex;
  flex-wrap: wrap;
  gap: 0 0.72vw;
}
.item-text-item-subtitle-link_nontt::after {
  content: "";
  width: 1px;
  height: 0.9vw;
  background: black;
  top: 0;
  position: absolute;
  right: -0.36vw;
}
.item-text-item-subtitle-link:hover {
  color: #b4b4b4 !important;
}
.item-text-item-subtitle-link_nontt:last-child::after {
  content: none;
}
.container-slider__item-text-wrap-link {
  position: relative;
}
.container-slider__item-text-wrap-link::after {
  content: "";
  width: 1px;
  height: 0.9vw;
  background: #b4b4b4;
  top: 0;
  position: absolute;
  right: -0.36vw;
}
.container-slider__item-text-wrap-link:last-child::after {
  content: none;
}
.container-slider__item-text-item-title .item-text-item-subtitle-link {
  text-decoration: none;
  transition: 240ms;
  color: #b4b4b4 !important;
}
.container-slider__item-text-item-title .item-text-item-subtitle-link:hover {
  color: black !important;
}
.container-slider__item-text-item-title .item-text-item-subtitle-link span {
  text-decoration: underline;
}
.container-slider__item-text-mobile-wrap-over {
  display: contents;
}
.br-820 {
  display: none;
}
.text-item__link-s {
  text-decoration: none;
  transition: 240ms;
}
.about-block-tabe__line-items a {
  text-decoration: none;
  transition: 240ms;
  display: block;
}
.about-block-tabe__line-item {
  text-decoration: none;
  transition: 240ms;
}
.scroll-top-prj {
  scroll-margin-top: 2.12vw;
}
.main-frame-pc__prev, 
.main-frame-mob__prev {
  display: none !important;
}
@media (min-width: 1300px) {
  .main-frame-pc__prev {
    display: block !important;
  }
  .about-block-link-hvr:hover br {
    display: block;
  }
  .about-block-link-hvr a {
    opacity: 0;
  }
  .about-block-link-hvr-now {
    white-space: nowrap;
  }
  .about-block-link-hvr:hover a:nth-child(1) {
    animation: textShow forwards 0.1s;
  }
  .about-block-link-hvr:hover a:nth-child(2) {
    animation: textShow forwards 0.15s;
  }
  .about-block-link-hvr:hover a:nth-child(3) {
    animation: textShow forwards 0.2s;
  }
  .about-block-link-hvr:hover a:nth-child(4) {
    animation: textShow forwards 0.25s;
  }
  .about-block-link-hvr:hover a:nth-child(5) {
    animation: textShow forwards 0.3s;
  }
  .about-block-link-hvr:hover a:nth-child(6) {
    animation: textShow forwards 0.35s;
  }
  .about-block-link-hvr:hover a:nth-child(7) {
    animation: textShow forwards 0.4s;
  }
  .about-block-link-hvr:hover #about-block-link-Banka {
    animation: textShow forwards 0.45s;
  }
  .about-block-link-hvr:hover #about-block-link-Slawine {
    animation: textShow forwards 0.5s;
  }
  @keyframes textShow {
    0% {
      opacity: 0;
    }
    99% {
      opacity: 0;
      width: 0%;
    }

    100% {
      opacity: 1;
      width: 100%;
    }
  }
  .about-block__text-item-pr {
    padding-right: 12vw;
  }
  .text-item__link-s:hover,
  .about-block-tabe__line-items a:hover,
  .about-block-tabe__line-item:hover {
    color: #b4b4b4;
  }
  .container-slider__item {
    cursor: none;
  }
  .container-slider__item-text {
    flex: 0 0 23vw;
    font-size: 0.81vw;
    line-height: 0.98vw;
    /* gap: 0.81vw; */
    gap: 0;
    padding: 0 0 0.88vw;
  }
  .about-block-tabe__line-title {
    flex: 0 0 1.46vw;
  }
  .container-slider__item-text > .container-slider__item-text-item {
    margin-top: 0.81vw;
  }
  .item-text-item__website {
    margin-top: 0 !important;
  }
  .about-block {
    height: calc(100vh - 2.12vw);
    margin-top: 2.12vw;
    padding: 0 2.08vw 0 1.01vw;
    display: flex;
  }
  .container-slider__title {
    left: 0.98vw;
    top: 1.04vw;
    font-size: 0.81vw;
  }
  .container-slider__title svg {
    width: 0.94vw;
    height: 0.49vw;
  }
  .header nav ul {
    gap: 4.88vw;
  }
  nav {
    display: grid;
  }
  .language-btns {
    right: 0.96vw;
    top: 0.59vw;
  }
  .about-block__img {
    padding: 1.01vw 1.01vw 0.33vw 0vw;
    flex: 0 0 15.66vw;
  }
  .about-block__img::after,
  .about-block__text-wrap_line::after {
    width: 1px;
    height: calc(100vh - 3.13vw);
    top: 0.6vw;
  }
  .about-block__text-wrap {
    padding: 1.01vw 1.01vw 0.33vw 1.01vw;
    flex: 0 0 33.33vw;
  }
  .about-block__text-item,
  .about-block__img_time {
    font-size: 0.59vw;
  }
  .about-block__text-wrap-dx2 {
    gap: 2.02vw;
    padding: 1.01vw 1.01vw 0.33vw 1.07vw;
    display: flex;
  }
  .about-block__text-wrap-dx2 .about-block__text-wrap:first-child {
    flex: 0 0 23.03vw;
  }
  .container-slider,
  .container-slider__item img,
  .container-slider__item-text-wrap {
    height: calc(100vh - 2.12vw);
  }
  .about-block__text-item_coding a {
    text-decoration: none;
    transition: 240ms;
  }
  .about-block__text-item_coding a:hover {
    color: #b4b4b4;
  }
  .container-slider__item .video-container {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 2.12vw); /* Основная высота контейнера */
    overflow: hidden; /* Скрываем выходящее за границы содержимое */
    z-index: -1;
  }

  .video-container iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    /* width: 177.78vh; */
    width: 100%; /* Соотношение сторон 16:9 */
    height: calc(100vh - 2vw); /* Максимальная высота iframe */
    transform: translate(-50%, -50%);
    pointer-events: none;
  }
  .next-slider.slick-arrow {
    width: 50%;
    height: calc(100vh - 2.12vw);
    display: flex !important;
    align-items: end;
    justify-content: end;
    padding-bottom: 1.14vw;
    bottom: 0;
    top: 0;
  }
  .prev-slider.slick-arrow {
    width: 50%;
    height: calc(100vh - 2.12vw);
    display: flex !important;
    align-items: end;
    justify-content: start;
    padding-bottom: 1.14vw;
    bottom: 0;
    top: 0;
  }
  .prev-slider.slick-arrow.slick-disabled,
  .next-slider.slick-arrow.slick-disabled {
    display: none !important;
  }
  .slider-container-wrap {
    /* margin-top: calc(100vh + 2.12vw); */
    position: absolute;
    top: calc(100vh + 2.12vw);
  }
  .container-slider__item-text-mobile-wrap {
    display: flex;
    flex-direction: column;
    gap: 0.81vw;
    overflow: scroll;
    max-height: 100%;
    padding-top: 1.04vw;
    padding-bottom: 0.81vw;
  }
  .container-slider__item-text-mobile-wrap-over::before {
    content: "";
    width: 100%;
    height: 0px;
    box-shadow: 0px 0px 0.2vw 0.6vw white;
    position: absolute;
    top: 0px;
  }
  .container-slider__item-text-mobile-wrap-over::after {
    content: "";
    width: 100%;
    height: 0px;
    box-shadow: 0px 0px 0.72vw 0.6vw white;
    position: absolute;
    bottom: 0px;
  }
  .container-slider__item-text-mobile-wrap-over {
    display: block;
    position: relative;
    overflow: hidden;
    max-height: fit-content;
  }
  #slider-1 .container-slider__item-text-mobile-wrap-over,
  #slider-2 .container-slider__item-text-mobile-wrap-over {
    margin-bottom: 1vw;
  }
  .container-slider__item-text::before,
  .container-slider__item-text::after {
    content: none;
  }
  /* Стиль для кастомного курсора */
  #custom-cursor {
    position: fixed;
    pointer-events: none;
    z-index: 1000;
    font-size: 16px;
    color: white; /* Измените цвет текста по необходимости */
    display: none;
    transform: translate(-50%, -50%); /* Центрирование текста */
    mix-blend-mode: difference;
  }
  #custom-cursor svg {
    width: 1.46vw;
    height: 0.75vw;
  }
  /* Скрываем стандартный курсор на целевых элементах */
  .next-slider.slick-arrow:hover,
  .prev-slider.slick-arrow:hover {
    cursor: none;
  }
  .slick-arrow svg {
    display: none;
  }
}
@media (max-width: 1300px) {
  .main-frame-mob__prev {
    display: block !important;
    width: 100%;
    position: absolute;
    z-index: -1;
  }
  .scroll-top-prj {
    scroll-margin-top: 10.75vw;
  }
  #slider-1 .container-slider__item-text,
  #slider-2 .container-slider__item-text {
    gap: 0;
  }
  #slider-1 .container-slider__item-text-item .item-text-item__websitet,
  #slider-2 .container-slider__item-text-item .item-text-item__websitet {
    margin-top: 3.02vw;
  }
  .about-block-tabe__line {
    display: flex;
    gap: 1.92vw;
  }
  .main-frame-mob-r-1-1 {
    aspect-ratio: 1 !important;
  }
  .main-frame-mob-r-361-270 {
    aspect-ratio: 361 / 270 !important;
  }
  .container-slider {
    height: initial;
    aspect-ratio: 1;
  }
  .container-slider__item-text-item-subtitle-mobile-l {
    display: flex;
    gap: 0 3.6vw !important;
  }
  .item-text-item-subtitle-link-none {
    position: relative;
  }
  .item-text-item-subtitle-link-none::after {
    content: "";
    width: 1px;
    background: #b4b4b4;
    position: absolute;
    height: 3.9vw;
    top: 0.3vw;
    right: -1.8vw;
  }
  .item-text-item-subtitle-link-none:last-child:after {
    content: none;
  }
  .container-slider__item-text-wrap {
    aspect-ratio: 1;
    height: initial;
    padding: 0 2.17vw;
  }
  .container-slider__item-text {
    flex: 1 0 100%;
    padding-top: 21.74vw;
    padding-bottom: 7.25vw;
  }
  .container-slider__item-text-mobile-wrap {
    display: flex;
    flex-direction: column;
    gap: 3.02vw;
    position: relative;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    padding-top: 3.83vw;
    padding-bottom: 3.62vw;
  }
  .container-slider__item-text-mobile-wrap-over {
    display: flex;
    position: relative;
    height: 1px;
    flex: 1;
    margin-bottom: 2.9vw;
  }
  .container-slider__item-text-mobile-wrap-over::before {
    content: "";
    width: 100%;
    height: 0px;
    box-shadow: 0px 0px 2.66vw 3.14vw white;
    position: absolute;
    top: 0px;
    z-index: 1;
  }
  .container-slider__item-text-mobile-wrap-over::after {
    content: "";
    width: 100%;
    height: 0px;
    box-shadow: 0px 0px 2.66vw 3.14vw white;
    position: absolute;
    bottom: 0px;
  }
  .container-slider__item-text {
    /* gap: 3.02vw; */
    gap: 0;
  }
  .container-slider__item-text::before,
  .container-slider__item-text::after {
    content: none;
  }
  .container-slider__item img:first-child,
  .container-slider__item video:first-child {
    display: none;
  }
  .container-slider__item img:last-child,
  .container-slider__item video:last-child {
    display: block;
  }
  .container-slider__item video,
  .container-slider__item img {
    object-fit: contain;
    height: auto;
    width: 100%;
  }
  .header {
    align-items: center;
    height: 10.75vw;
    padding: 2.9vw 2.46vw;
    display: flex;
  }
  .logo {
    font-size: 4.11vw;
  }
  .container-slider .slick-track {
    display: flex;
    align-items: end;
    background: black;
  }
  .container-slider__items,
  .draggable,
  .container-slider__item {
    aspect-ratio: 1;
  }
  .container-slider__item {
    display: flex !important;
    align-items: end;
  }
  .slider-container {
    background: black;
    /* margin-top: 89px !important; */
    overflow: scroll;
  }
  .main {
    margin-bottom: 10.75vw;
  }
  .about-block {
    padding: 2.17vw;
    grid-template-columns: 1fr;
    overflow: auto;
    margin-top: 10.75vw;
    height: calc(100% - 10.75vw);
  }
  .about-block__img {
    padding: 0;
    position: initial;
  }
  .about-block__img img {
    width: 100%;
    max-width: 54.35vw;
    margin-bottom: 0.97vw;
  }
  .about-block__text-wrap {
    padding: 0;
    position: initial;
  }
  .about-block__text-wrap-dx2 {
    grid-template-columns: 1fr;
    padding: 0;
    gap: 0;
  }
  .about-block-link-hvr a {
    display: inline;
  }
  .about-block__text-item_coding,
  .about-block__img_time,
  .about-block__text-item_cop,
  .about-block__text-wrap_line::after,
  .about-block__img::after,
  .language-btns,
  nav {
    display: none !important;
  }
  .about-block__text-wrap_line {
    padding-bottom: 4.35vw;
    margin-bottom: 4.83vw;
    border-bottom: 1px solid black;
  }
  .about-block__text-wrap:first-child {
    padding-bottom: 4.35vw;
    margin-bottom: 4.83vw;
    border-bottom: 1px solid black;
  }
  .about-block__text-hidden {
    display: flex;
    flex-direction: column;
    margin-top: 7.73vw;
    font-size: 2.17vw;
  }
  .burger {
    display: block;
    margin-left: auto;
  }
  .psevdo-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: white;
    margin-top: 10.75vw;
    height: calc(100% - 10.75vw);
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 33;
    width: 100%;
    padding: 11.71vw 7vw 4.47vw 7vw;
    transition: 500ms;
  }
  .main video {
    aspect-ratio: 1;
    height: initial;
  }
  .psevdo-nav.active {
    left: 0;
  }
  .container-slider__title svg {
    width: 3.99vw;
    height: 2.66vw;
  }
  .psevdo-nav__item {
    text-decoration: none;
    color: #000000;
    font-size: 9.78vw;
    line-height: 120%;
    cursor: pointer;
  }
  .psevdo-nav__lengs {
    display: flex;
    align-items: center;
    gap: 1.21vw;
  }
  .psevdo-nav__leng {
    font-size: 9.78vw;
    line-height: 120%;
  }
  .main,
  .main-content {
    height: initial !important;
    aspect-ratio: 1;
    top: 10.75vw;
  }
  .br-pc {
    display: none;
  }
  .br-820 {
    display: initial;
  }
  .main__title {
    font-size: 4.47vw;
  }
  .container-slider__title {
    left: 2.17vw;
    top: 2.17vw;
  }
  .container-slider__title {
    font-size: 3.5vw;
  }
  .container-slider__item-text {
    font-size: 3.26vw;
    line-height: 120%;
    height: 100%;
  }
  .about-block__text-item {
    font-size: 3.26vw;
  }
  .container-slider__title-top span {
    text-decoration: underline;
    margin-left: 1.34vw;
  }
  .item-text-item-subtitle-link_nontt::after {
    height: 3.9vw !important;
    top: 0.3vw !important;
    right: -1.8vw !important;
  }
  .container-slider__item-text-item-subtitle {
    gap: 0 3.6vw !important;
  }
  .item-text-item-subtitle-link-none {
    display: inline;
    text-decoration: none;
    color: #b4b4b4 !important;
  }
}
/* @media (max-width: 820px) {
  .burger {
    max-width: 70px;
  }
  .header {
    padding: 24px 18px;
  }
  .logo {
    font-size: 18px;
  }
  .main__title {
    font-size: 18px;
  }
  .psevdo-nav {
    padding: 97px 58px 37px 28px;
  }
  .psevdo-nav__item,
  .psevdo-nav__leng {
    font-size: 28px;
    line-height: 48px;
  }
  .about-block__text-item {
    font-size: 16px;
  }
  .about-block__text-hidden {
    font-size: 12px;
  }
  .container-slider__title {
    font-size: 16px;
  }
  .container-slider__title svg {
    width: 20px;
    height: 11px;
  }
  .container-slider__item-text {
    font-size: 14px;
    line-height: 130%;
    gap: 12px;
  }
  .container-slider__item-text {
    padding-top: 115px;
    padding-bottom: 48px;
  }
  .container-slider__item-text-mobile-wrap-over::before {
    top: -10px;
  }
  .container-slider__item-text-mobile-wrap {
    padding-top: 20px;
    gap: 12px;
  }
  .container-slider__item-text {
    gap: 4px;
  }
} */
#slider-2 .swipe-frame,
#slider-5 .swipe-frame {
  pointer-events: none; /* Отключено по умолчанию */
  transition: pointer-events 0.3s ease-in-out;
}
